*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    height: 100%;
    background: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.container{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.box{
    width: 100%;
    padding: 75px 100px;
    transform: translateY(150%);
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-family: "Sora", sans-serif;
}
.col h1{
    font-weight: 600;
    font-size: 50px;
}
.col p{
    font-weight: 400;
    font-size: 20px;
}
